# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Misc
*.log
*.tmp
